/* GENERAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;

  --primary-color-hex: #27B1E6;
  --primary-color-rgba: rgba(39, 177, 230, 0.50);
  --font-color-primary: #707070;
  --font-color-secondary: #E5F3FB;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: auto;
}